.image{
    width: 50vw;
    padding-top: 20px;
    @media(max-width:780px){
        width: 60vw;
        height: 50vh;
    }
    @media(max-width:600px){
        height: 20vh;
    }
}
.options{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    @media(max-width: 1024px){
        font-weight: 400;
        font-size: 15px;
        width: 90%;
        margin: 5px;
    }
}
.successGif{
    width:400px;
    height:300px;
    @media(max-width:850px){
        width: 300px;
        height: 255px;
    }
    @media(max-width:650px){
        display: none;
    }
}
.successImg{
    display: none;
    @media(max-width:650px){
        display: block;
        height: 150px;
        width: 150px;
    }

}
